POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DBNAME=rustdesk
POSTGRES_USER=rustdesk
POSTGRES_PASSWORD=

JWT_SECRET=replace-with-long-random-secret
TOKEN_EFFECTIVE_SECONDS=7200

NEXT_PUBLIC_API_URL=http://localhost:8080
